/* class practice slide
h1:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
header {
  width: 90%;
  margin: auto;
  text-align: center;
}
article {
  width: 50%;
  margin: auto;
  text-align: center;
}
p::first-letter {
  font-size: 2em;
}
footer {
  border: 2px solid black;
  border-radius: 25px;
}
*/
header img {
  width: 33%;
}
a {
  text-decoration: none;
}
nav a {
  text-decoration: line-through;
}